.sidebar {
    background-color: #2c2c2c;
    width: 250px;
    position: fixed; 
    left: 10px; /* Colocamos el sidebar en la posición 10px (para el padding que tenía el body) */
    top: 10px; /* Colocamos el sidebar en la posición 10px */
    /* CORRECCIÓN: Ajustamos la altura para que ocupe todo el espacio disponible */
    height: calc(100vh - 20px); /* 100% de la altura de la ventana menos 10px arriba y 10px abajo */
    border-radius: 8px;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 50; /* Aseguramos que el menú siempre esté visible */
}